# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2eHZ3bnRqd2p6YWx6aml3cm1tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYwOTkyMjcsImV4cCI6MjA4MTY3NTIyN30.HrjArI3Mq5dvsYhQXTJw-cL691J7QMhj9ixh6mzz6sI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ2eHZ3bnRqd2p6YWx6aml3cm1tIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjA5OTIyNywiZXhwIjoyMDgxNjc1MjI3fQ.KGjXwoLbnfycQOdHLSy564ujtnx2LopIgAGNg1Vo63E

# Acesse https://www.mercadopago.com.br/developers/panel/credentials para obter suas chaves de PRODUÇÃO
MP_ACCESS_TOKEN=APP_USR-6530054478198582-042418-54bca1c838b02982555169fa9e5e464f-197672024
VITE_MP_PUBLIC_KEY=APP_USR-02393595-dd7d-464a-a213-2c86c2ce6560
MP_CLIENT_ID=6530054478198582
MP_CLIENT_SECRET=cA02YAbNFj3ge6rCZ8U9eGIM7adszJH5

# WhatsApp Evolution API
EVOLUTION_API_URL=https://evolution-api-production-92f80.up.railway.app
EVOLUTION_API_KEY=7d52aa372cd445ad1e0d9ad7c8e5d967a74423f5434c83aa4c65821a222f067b
EVOLUTION_GLOBAL_INSTANCE=salgados_portal_master
# EVOLUTION_WEBHOOK_SECRET=opcional_para_seguranca

